<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="image.css">
</head>

<body>
    <h1>
        <u>
            <center>Image Component</center>
        </u>
    </h1>
    <h5 class="text">
        <center>Images are used for visual information only.</center>
    </h5>

    <div class="container">
        <div class="img-container">
            <h2>Round Image</h2>
            <img src="/images/round.jpg" alt="Round Image" class="round-img">
        </div>
        <div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2509%253Ch2%253ERound%2520Image%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Cimg%2520%250A%2509%2509src%253D%2522%252Fimages%252Fround.jpg%2522%2520%250A%2509%2509alt%253D%2522Round%2520Image%2522%2520%250A%2509%2509class%253D%2522round-img%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 470px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <div class="img-container">
            <h2>Square Image</h2>
            <img src="/images/square.jpg" alt="Round Image" class="square-img">
        </div>
        <div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2509%253Ch2%253ESquare%2520Image%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Cimg%2520%2509%250A%2509%2509src%253D%2522%252Fimages%252Fsquare.jpg%2522%2520%250A%2509%2509alt%253D%2522Round%2520Image%2522%2520%250A%2509%2509class%253D%2522square-img%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 470px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <div class="res-img-container">
            <h2>Responsive Image</h2>
            <img src="/images/responsive.jpg" alt="Responsive Image" class="res-img">
        </div>
        <div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522res-img-container%2522%253E%250A%2509%253Ch2%253EResponsive%2520Image%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Cimg%2520%250A%2509%2509src%253D%2522%252Fimages%252Fresponsive.jpg%2522%2520%250A%2509%2509alt%253D%2522Responsive%2520Image%2522%2520%250A%2509%2509class%253D%2522res-img%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 470px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>


</body>

</html>