@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&family=Ubuntu:wght@300&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

* {
  --primary-color: rgb(14, 139, 45);
  --secondry-color: rgb(204, 23, 23);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.md {
  width: 4rem;
  height: 4rem;
}
.lg {
  width: 5rem;
  height: 5rem;
}
.xl {
  width: 6rem;
  height: 6rem;
}
.square {
  border-radius: 2%;
}

.border-green {
  border: 5px solid var(--primary-color);
}
.border-red {
  border: 5px solid var(--secondry-color);
}
